<body>
    
<div class="forgot-password-container">
    <h2>User Forgot Password</h2>

    <label>Email:</label>
    <input type="email" [(ngModel)]="email" required />

    <label>New Password:</label>
    <input type="password" [(ngModel)]="newPassword" required />

    <label>Confirm Password:</label>
    <input type="password" [(ngModel)]="confirmPassword" required />

    <button type="button" (click)="onResetPassword()">Reset Password</button>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

    <p>Back to<a (click)="goToLogin()" style="cursor:pointer;"> Login</a></p>
</div></body>